.product-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #DDD;    
}

.product-info h1 {
    font-size: 32px;    
}

.product-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;    
} 

.product-info p a {
    color: #069;
    
}

.actions {
    max-width: 700px;
    margin: 30px auto 0;
    
}

.actions a {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;    
}

.actions a:hover {
    opacity: 1;
}

